* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Special Elite', cursive;
}

body {
  background-color: #F4EBD0;
}

img {
  max-width: 100%;
}

small {
  font-size: 16px;
  text-align: left;
  text-decoration: underline;
}

p {
  margin-bottom: 24px;
}

h3 {
  margin: 24px 0;
}

.container {
  max-width: 667px;
  margin: 0 auto;
}

.screens {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;
  padding: 40px 16px;
  font-size: 24px;
  line-height: 32px;
}

.text-vertical-center {
  justify-content: center;
  min-height: 100%;
}

.bg-darker {
  background-color: #d9c6a5;
}

.family-photo {
  border: 8px solid #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);

  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.title {
  z-index: 1;
  margin: 40px 0 48px;
}

.text-detail {
  font-size: 32px;
  line-height: 40px;
  padding: 16px 0;
  margin: 8px 0 32px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.signature {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

.signature img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 16px;
}

.signature p {
  margin: 0;
}

@media (min-width: 667px) {
  .container {
    max-width: 768px;
  }

  .bg-darker {
    background-color: #F4EBD0;
  }

  .screens {
    min-height: 100%;
  }
}